# Required items:
bucketName: 'rubintv_data_slac'
dimensionUniverseFile: '/sdf/scratch/rubin/rapid-analysis/butlerDimensionUniverse.json'

# # data paths
scratchPath : rapidAnalysisScratch
plotPath: '/sdf/scratch/rubin/rapid-analysis/plots'

# configuration
binning: 8

# ComCam configuration:
comCamButlerPath: 's3://embargo@rubin-summit-users/butler+sasquatch_dev.yaml'
# # paths for serving TS8 metadata at SLAC
comCamMetadataPath: '/sdf/scratch/rubin/rapid-analysis/LSSTComCam/sidecar_metadata'
comCamMetadataShardPath: '/sdf/scratch/rubin/rapid-analysis/LSSTComCam/sidecar_metadata/shards'

raPerformanceDirectory: /sdf/scratch/rubin/rapid-analysis/raPerformance/sidecar_metadata
raPerformanceShardsDirectory: /sdf/scratch/rubin/rapid-analysis/raPerformance/sidecar_metadata/shards

guiderDirectory: /project/rubintv/LSSTCam/guiders/sidecar_metadata
guiderShardsDirectory: /project/rubintv/LSSTCam/guiders/sidecar_metadata/shards

# LSSTCam config:
lsstCamAosMetadataPath: /sdf/scratch/rubin/rapid-analysis/LSSTCam/sidecar_metadata
lsstCamAosMetadataShardPath: /sdf/scratch/rubin/rapid-analysis/LSSTCam/sidecar_metadata/shards
lsstCamMetadataPath: /sdf/scratch/rubin/rapid-analysis/LSSTCamAos/sidecar_metadata/shards
lsstCamMetadataShardPath: /sdf/scratch/rubin/rapid-analysis/LSSTCamAos/sidecar_metadata/shards
lsstCamButlerPath: 's3://embargo@rubin-summit-users/butler.yaml'

consDBURL: "http://consdb-pq.consdb:8080/consdb"

aosLSSTCamPipelineFileDanish: $DONUT_VIZ_DIR/pipelines/production/lsstCamRapidAnalysisPipeline_Danish.yaml
aosLSSTCamPipelineFileTie: $DONUT_VIZ_DIR/pipelines/production/lsstCamRapidAnalysisPipeline_TIE.yaml
aosLSSTCamRefitWcsPipelineFile: $DONUT_VIZ_DIR/pipelines/production/lsstCamRapidAnalysisPipeline_RefitWcsDanish.yaml
aosLSSTCamAiDonutPipelineFile: $DONUT_VIZ_DIR/pipelines/production/lsstCamRapidAnalysisPipeline_AiDonut.yaml
aosLSSTCamTartsPipelineFile: $DONUT_VIZ_DIR/pipelines/production/lsstCamRapidAnalysisTartsUnpairedPipeline.yaml
aosLSSTCamUnpairedDanishPipelineFile: $DONUT_VIZ_DIR/pipelines/production/lsstCamRapidAnalysisPipeline_UnpairedDanish.yaml

aosLSSTCamFullArrayModePipelineFileDanish: $DONUT_VIZ_DIR/pipelines/production/lsstCamScienceSensorRapidAnalysisPipeline_Danish.yaml
aosLSSTCamFullArrayModePipelineFileTie: $DONUT_VIZ_DIR/pipelines/production/lsstCamScienceSensorRapidAnalysisPipeline_TIE.yaml

aosDataDir: /sdf/scratch/rubin/rapid-analysis/aos_data

sfmPipelineFile:
  LSSTComCamSim: $DRP_PIPE_DIR/pipelines/LSSTComCamSim/nightly-validation.yaml
# Temporary before nightly validation pipeline is ready.
  LSSTCam: $DRP_PIPE_DIR/pipelines/LSSTCam/nightly-validation.yaml

outputChains:
  LSSTComCam: LSSTComCam/runs/nightlyValidation
  LSSTComCamSim: LSSTComCamSim/runs/nightlyValidation
  LSSTCam: LSSTCam/runs/nightlyValidation

comCamSimMetadataPath: '/sdf/scratch/rubin/rapid-analysis/LSSTComCamSim/sidecar_metadata'
comCamSimMetadataShardPath: '/sdf/scratch/rubin/rapid-analysis/LSSTComCamSim/sidecar_metadata/shards'

#### These are currently all unused, but are listed explicitly for clarity to
#  make it clear what is not being run at USDF, and so that LocationConfigs
# will have access to all the same items in principle.
starTrackerDataPath: ''
starTrackerOutputPath: ''
starTrackerMetadataPath: ''
starTrackerMetadataShardPath: ''
tmaMetadataPath: ''
tmaMetadataShardPath: ''
allSkyOutputPath: ''
allSkyRootDataPath: ''
astrometryNetRefCatPath: ''
auxTelMetadataPath: ''
auxTelMetadataShardPath: ''
auxtelButlerPath: ''
comCamAosMetadataPath: ''
comCamAosMetadataShardPath: ''
comCamSimAosMetadataPath: ''
comCamSimAosMetadataShardPath: ''

# might be used soon
moviePngPath: ''
nightReportPath: ''
