name: "Build and Push"

"on":
  pull_request:
    branches:
      - main
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:

  build:
    name: "Build and Push Application Container Images"
    runs-on: ubuntu-latest
    timeout-minutes: 45

    steps:
      - name: Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: lsst-sqre/build-and-push-to-ghcr@v1
        with:
          dockerfile: Dockerfile
          image: ${{ github.repository }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
